<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </nav>

    <div class="album py-5 bg-#00aabb">
        <div class="container">
            <div class="row">
                <% for(var i=0;i<item.length;i++){ %>
                <div class="col-md-4 p-2">
                    <div class="card mb-5 shadow-sm" style="width: 20rem;">
                        <img class="bd-placeholder-img mx-auto mt-3" width="32%" height="225" src="<%= item[i].image %>"/>
                        <div class="card-body">
                            <h2><%= item[i].name %></h2>
                            <p class="card-text"><strong>Price: </strong><%= item[i].price %></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="/itemsingle/<%= i %>" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                
            </div>
        </div>
    </div>


</body>
</html>